@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600,800,700);

@-webkit-keyframes microphoneFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background: rgb(224,244,255);
    height: 100%;
    padding: 20px;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    background: #f6f6f6;
    border: 1px inset #ffffff;
    border-radius: 20px;
    padding: 20px 20px 0px 20px;
}
.header {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 0px 2px 1px white;
    color: #dddddd;
    padding-bottom: 20px;
}

.textBox {
    width: 100%;
    height: 238px;
    text-align: center;
    overflow: auto;
    background: #fff;
    padding: 10px 12px 10px 12px;
    margin-bottom: 20px;
    border: 1px inset rgba(210, 220, 224, 0.5);
    border-radius: 10px;
    -webkit-box-flex: 1;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 131, 164);
}

#confirmed {opacity:1;}
#pending {opacity:.4;}

.resultBox {
    width: 100%;
    text-align: center;
    min-height: 24px;
    padding-top: 4px;
    font-size: 10px;    
    color: rgba(0, 131, 164, 0.5);
    text-shadow: 0px 2px 1px white;
}

#microphonediv {
    width: 100%;
}

#microphone {
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: block;
    cursor: pointer;
    cursor: hand;
}

#microphone div.normal:hover {
    background-image: url(../images/mic-on.png);
}

#microphone div {
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: 200px, 200px;
    opacity: 0;
}

#microphone div.opaque {
    opacity: 1;
}

#microphone.pulsing div {
    -webkit-animation-name: microphoneFadeIn;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

#microphone.pulsing div.opaque {
    -webkit-animation-delay: -0.75s;
}

#microphone div.normal {
    background-image: url(../images/mic-off.png);
}

#microphone div.active {
    background-image: url(../images/mic-active.png);
}

